// Neutral
.#{$wi-css-prefix}-owm-200:before {
  content: $thunderstorm;
}
.#{$wi-css-prefix}-owm-201:before {
  content: $thunderstorm;
}
.#{$wi-css-prefix}-owm-202:before {
  content: $thunderstorm;
}
.#{$wi-css-prefix}-owm-210:before {
  content: $lightning;
}
.#{$wi-css-prefix}-owm-211:before {
  content: $lightning;
}
.#{$wi-css-prefix}-owm-212:before {
  content: $lightning;
}
.#{$wi-css-prefix}-owm-221:before {
  content: $lightning;
}
.#{$wi-css-prefix}-owm-230:before {
  content: $thunderstorm;
}
.#{$wi-css-prefix}-owm-231:before {
  content: $thunderstorm;
}
.#{$wi-css-prefix}-owm-232:before {
  content: $thunderstorm;
}
.#{$wi-css-prefix}-owm-300:before {
  content: $sprinkle;
}
.#{$wi-css-prefix}-owm-301:before {
  content: $sprinkle;
}
.#{$wi-css-prefix}-owm-302:before {
  content: $rain;
}
.#{$wi-css-prefix}-owm-310:before {
  content: $rain-mix;
}
.#{$wi-css-prefix}-owm-311:before {
  content: $rain;
}
.#{$wi-css-prefix}-owm-312:before {
  content: $rain;
}
.#{$wi-css-prefix}-owm-313:before {
  content: $showers;
}
.#{$wi-css-prefix}-owm-314:before {
  content: $rain;
}
.#{$wi-css-prefix}-owm-321:before {
  content: $sprinkle;
}
.#{$wi-css-prefix}-owm-500:before {
  content: $sprinkle;
}
.#{$wi-css-prefix}-owm-501:before {
  content: $rain;
}
.#{$wi-css-prefix}-owm-502:before {
  content: $rain;
}
.#{$wi-css-prefix}-owm-503:before {
  content: $rain;
}
.#{$wi-css-prefix}-owm-504:before {
  content: $rain;
}
.#{$wi-css-prefix}-owm-511:before {
  content: $rain-mix;
}
.#{$wi-css-prefix}-owm-520:before {
  content: $showers;
}
.#{$wi-css-prefix}-owm-521:before {
  content: $showers;
}
.#{$wi-css-prefix}-owm-522:before {
  content: $showers;
}
.#{$wi-css-prefix}-owm-531:before {
  content: $storm-showers;
}
.#{$wi-css-prefix}-owm-600:before {
  content: $snow;
}
.#{$wi-css-prefix}-owm-601:before {
  content: $snow;
}
.#{$wi-css-prefix}-owm-602:before {
  content: $sleet;
}
.#{$wi-css-prefix}-owm-611:before {
  content: $rain-mix;
}
.#{$wi-css-prefix}-owm-612:before {
  content: $rain-mix;
}
.#{$wi-css-prefix}-owm-615:before {
  content: $rain-mix;
}
.#{$wi-css-prefix}-owm-616:before {
  content: $rain-mix;
}
.#{$wi-css-prefix}-owm-620:before {
  content: $rain-mix;
}
.#{$wi-css-prefix}-owm-621:before {
  content: $snow;
}
.#{$wi-css-prefix}-owm-622:before {
  content: $snow;
}
.#{$wi-css-prefix}-owm-701:before {
  content: $showers;
}
.#{$wi-css-prefix}-owm-711:before {
  content: $smoke;
}
.#{$wi-css-prefix}-owm-721:before {
  content: $day-haze;
}
.#{$wi-css-prefix}-owm-731:before {
  content: $dust;
}
.#{$wi-css-prefix}-owm-741:before {
  content: $fog;
}
.#{$wi-css-prefix}-owm-761:before {
  content: $dust;
}
.#{$wi-css-prefix}-owm-762:before {
  content: $dust;
}
.#{$wi-css-prefix}-owm-771:before {
  content: $cloudy-gusts;
}
.#{$wi-css-prefix}-owm-781:before {
  content: $tornado;
}
.#{$wi-css-prefix}-owm-800:before {
  content: $day-sunny;
}
.#{$wi-css-prefix}-owm-801:before {
  content: $cloudy-gusts;
}
.#{$wi-css-prefix}-owm-802:before {
  content: $cloudy-gusts;
}
.#{$wi-css-prefix}-owm-803:before {
  content: $cloudy-windy;
}
.#{$wi-css-prefix}-owm-804:before {
  content: $cloudy;
}
.#{$wi-css-prefix}-owm-900:before {
  content: $tornado;
}
.#{$wi-css-prefix}-owm-901:before {
  content: $storm-showers;
}
.#{$wi-css-prefix}-owm-902:before {
  content: $hurricane;
}
.#{$wi-css-prefix}-owm-903:before {
  content: $snowflake-cold;
}
.#{$wi-css-prefix}-owm-904:before {
  content: $hot;
}
.#{$wi-css-prefix}-owm-905:before {
  content: $windy;
}
.#{$wi-css-prefix}-owm-906:before {
  content: $hail;
}
.#{$wi-css-prefix}-owm-957:before {
  content: $strong-wind;
}
