// Fonts
$cantata: "Cantata One",
"serif";
$raleway: "Raleway",
"san-serif";
// Colours
@import "bulma/sass/utilities/initial-variables.sass";
$primary: #006556;
$gold: #9f8f67;
$blue: #0B5C92;
$cyan: $blue;
$green: #1A644A;
$offwhite: #f7f7f7;
$black: #363636;